.footer {

    padding-top: 43px;
    &__text {
        text-align: center;
        color: #283645;
// font-family: "Open Sans";
font-size: 24px;
font-weight: 300;
margin: 0;
line-height: 27px;

    }
}

.address {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    &__contacts {
        display: flex;
        flex-direction: column;
    }
}