.main-header {
	background-color: rgba(0, 0, 0, 0.3);

}

.main-logo__img:hover {
	fill:#d22856;

}

.main-nav {

	background-color: rgba(0,0,0,.3);
    width: 100%;
    z-index: 2;

	&--closed {
		position: absolute;
	}

	&__header {
		display: flex;
		padding:20px;
		padding-bottom: 21px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.99);
		justify-content: space-between;
	}

	&__menu {
		.reset-list();
		display: none;
		}

	&--opened &__menu {
		display: flex;
		background-color: #283645;
		flex-direction: column;
	}

	
	&__item {
		color: #ffffff;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 700;
		line-height: 32px;
		text-align: center;
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 1px solid rgba(71, 83, 96, 0.99);
		border-bottom: 1px solid rgba(0, 0, 0, 0.99);


	}

	&__link {
		text-decoration: none;
		color: #ffffff;
	}

	&__toggle {

		position: absolute;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  top: 10px;
  right: 20px;
  outline: none;

		}

	&--closed .main-nav__toggle::before {

	content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 21px 0 0 #ffffff; 


}

   &--closed .main-nav__toggle:hover::before {
     background-color: #d22856;
     box-shadow: 0 10px 0 0 #d22856, 0 21px 0 0 #d22856; 

 }


   &--closed .main-nav__toggle:active::before {
     background-color: rgba(210, 40, 86, 0.3);
     box-shadow: 0 10px 0 0 rgba(210, 40, 86, 0.3), 0 21px 0 0 rgba(210, 40, 86, 0.3); 
   }

   &--opened .main-nav__toggle::before, 
   &--opened .main-nav__toggle::after {

   	content: "";
  position: absolute;
  top: 21px;
  right: -4px;
  width: 30px;
  height: 4px;
  background-color: #ffffff;


   }

   &--opened .main-nav__toggle::before {
      transform: rotate(45deg);
      box-shadow: none; 
  }

   &--opened .main-nav__toggle::after {
      transform: rotate(-45deg); 
  }

   &--opened .main-nav__toggle:hover::before, 
   &--opened .main-nav__toggle:hover::after {
  
       background-color: #d22856; 
   }


   /*нет JS, кнопка скрыта*/
&--nojs .main-nav__toggle {
  display: none; 
}

/*нет JS, меню д.б.открыто*/
&--nojs .main-nav__menu {
  display: flex; 
}
  





  
}


@media (min-width: @mobile-width) {
	.main-nav--closed .main-nav__menu {
        display: none;


}


@media (min-width: @tablet-width) {
	.main-nav {
		&__header {
			min-height: 110px;
			padding-top: 27px;
		}

		&__toggle {
			top: 32px;
		}
	}


}

@media (min-width: @desktop-width) {

	.main-nav {

		display: flex;
		padding-bottom: 24px;




		&__toggle {
			display: none;
		}

		&__header {
			display: inline-block;
			border-bottom: none;
			padding:0;
			margin-left: 130px;
			margin-top: 22px;
			margin-right: 173px;
		}

		&__menu {
			flex-direction: row;
			margin-top: 18px;
		}

		&__item {
			border-top: none;
			border-bottom: none;
			margin-right: 80px;
		}

		&__link {
			text-transform: none;
			font-size: 18px;
			font-weight: 400;
			line-height: 18px;
		}
	}


}
}