.download {
	 background-color: #283645;
	 background-image: url("../img/back-mobile@1x.jpg");
	background-size: 320px auto;
	background-repeat: no-repeat;
    background-position: top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: 660px) {
    padding-top: 110px;

    background-image: url("../img/back-tablet@1x.jpg");
    background-size: 1200px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: 960px) {
    background-image: url("../img/back-desktop@1x.jpg");
    background-size: 2560px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }

    &::before {
    	content: "";
    position: relative;
    bottom: 0;
    display: block;
    width: 320px;
    height: 396px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background: url("../img/hand-mobile@1x.png") left bottom no-repeat;
    background-size: 258px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/hand-mobile@2x.png");
      }
    }


     &--hand {
     	position: absolute;
     	bottom: -35px;
        left: -166px;
        max-width: none;
     }



	

	&__section {
		background-color: #1d2631;
		color: #ffffff;
		font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        padding-top: 35px;
	}

	&__header {
		display: none;
	}

	&__link {
		display: block;
		width: 280px;
		height: 55px;
		border: 3px solid #fff;
		border-radius: 25px;
		text-decoration: none;
		color:#ffffff;
		margin: 0 auto;
		text-align: center;
		font-size: 18px;
        font-weight: 700;
        line-height: 47px;
        cursor: pointer;
        user-select: none;

	}

	&__icons {
		display: flex;
        justify-content: space-between;
		width:205px;
		margin: 0 auto;
		padding-top: 35px;
		padding-bottom: 18px;
	}

	&__text {
		text-align: center;
		margin:0 auto;
		max-width: 244px;
		padding-bottom: 31px;
	}

}








@media (min-width: @mobile-width) {

	.download {
		
		&__img {
			min-height: 620px;

			&--hand {
				bottom: 2px;
                left: -111px;
			}
		}


	}


}


@media (min-width: @tablet-width) {

	.download {
		position: relative;
		padding-top: 110px;
		min-height: 730px;

		&::before {
			height: 550px;
			width: 100%;
			position: absolute;
			background: url("../img/hand-tablet.png") bottom no-repeat;
			left: 5px;
			@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
            background-image: url("../img/hand-tablet@2x.png");
            background-size: 890px auto;
        }


		}


		&__header {
			width: 186px;
			display: block;
			font-size: 40px;
            font-weight: 300;
            margin: 0 auto;
            text-align: center;
            line-height: 48px;
            margin-bottom: 30px;
		}

		&__section {
			width: 300px;
			background-color: transparent;
			z-index: 2;
            position: relative;
            padding-top: 93px;
            margin-left: 20px;
		}

		&__text {
			font-size: 18px;
			font-weight: 300;
			line-height: 24px;
			max-width: 294px;
			margin-top: 20px;
		}

		&__link {
			width: 300px;
			margin:0;
		}

		&__icons {
			padding-top: 47px;
			align-items: center;
		}

		&__item--android {
			padding-top: 8px;
		}

		&__item--ms {
			padding-top: 5px;
		}

	}

	.offer {
		&__text {
			font-size: 40px;
            font-weight: 300;
		}
	}



	}


	


	@media (min-width: @desktop-width) {
		.download {
			min-height: 853px;
			&::before {
				height:650px;
				background: url("../img/hand-desktop@1x.png") 26px bottom no-repeat;
                background-size: 1050px auto;
                left: 120px;


        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/hand-desktop@2x.png");
        }
			}
			&__header {
				font-size: 50px;
				line-height: 56px;
				width: auto;
				margin: 0 auto 58px;
			}

			&__section {
				padding-top: 114px;
                margin-left: 130px;
			}

			&__link {
				font-size: 21px;
			}

			&__icons {
				padding-top: 65px;
			}

			&__text {
				margin-top: 39px;
			}
		}
	}