.download {
	 background-color: #283645;
	 background-image: url("../img/back-mobile@1x.jpg");
    background-size: 320px auto;

    &::before {
    	content: "";
    position: relative;
    bottom: 0;
    display: block;
    width: 320px;
    height: 396px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background: url("../img/iphone-hand-mobile@1x.png") left bottom no-repeat;
    background-size: 258px auto;
    }


     &--hand {
     	position: absolute;
     	bottom: -35px;
        left: -166px;
        max-width: none;
     }



	

	&__section {
		background-color: #1d2631;
		color: #ffffff;
		font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        padding-top: 35px;
	}

	&__header {
		display: none;
	}

	&__link {
		display: block;
		width: 280px;
		height: 55px;
		border: 3px solid #fff;
		border-radius: 25px;
		text-decoration: none;
		color:#ffffff;
		margin: 0 auto;
		text-align: center;
		font-size: 18px;
        font-weight: 700;
        line-height: 47px;
        cursor: pointer;
        user-select: none;

	}

	&__icons {
		display: flex;
        justify-content: space-between;
		width:205px;
		margin: 0 auto;
		padding-top: 35px;
		padding-bottom: 18px;
	}

	&__text {
		text-align: center;
		margin:0 auto;
		max-width: 244px;
		padding-bottom: 31px;
	}

}








@media (min-width: @mobile-width) {

	.download {
		
		&__img {
			min-height: 620px;

			&--hand {
				bottom: 2px;
                left: -111px;
			}
		}


	}


}


@media (min-width: @tablet-width) {

	.download {
		position: relative;
		padding-top: 110px;

		&::before {
			position: absolute;
			background: url("../img/hand-tablet.png") left bottom no-repeat;
		}


		&__header {
			display: block;
		}

	}



	}