.offer {
	
	padding-top: 17px;
	text-align: center;

	&__container {
		
		margin-bottom: 65px;

		
	}



	&__text {
		font-size: 24px;
		font-weight: 300;
		line-height: 28px;
		
			
	}

	&__list {
		position: relative;
		background-color: #f2f2f2;
		.reset-list();
		margin-top: 115px;
		padding-bottom: 312px;
		
		&::before {
			position: absolute;
			content: "";
			top: -78px;
			left: -1px;
			height: 100%;
			width: 100%;
			z-index: -1;
		    // background-image: linear-gradient(-5deg, #f2f2f2 50%, #ffffff 50%);
		    background: #f2f2f2 url(../img/bg-triangle-white.svg) center top no-repeat;
		    background-size: 100%;

		}
		
		&::after {
			position: absolute;
			content: "";
			background-image: url("../img/iphone_screen_mobile@1x.png");
			@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
                   background-image: url("../img/iphone_screen_mobile@2x.png");
                   }
	background-size: 157px auto;
	background-repeat: no-repeat;
	margin-left: auto;
    margin-right: auto;
    left: 0;
	right: 0;
	width: 157px;
	height: 320px;
	clip: rect(auto, auto, 277px, auto);
	bottom: -42px;
		}

	&--text {
		max-width: 260px;
		text-align: center;
		margin: 0;
		background-color: #f2f2f2;
	}

	&-item {
		margin-bottom: 43px;
		margin-left: 10%;
        margin-right: 10%;
	}



}

&__title {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	margin: 0;
}


}


@media (min-width: @tablet-width) {

		.offer {

			&__container {
				    padding-top: 30px;
			}



			&__list {

				&-container {
					min-height: 418px;
                    background-color: #f2f2f2;
				}

				padding-bottom: 0;
				padding-left: 295px;
                text-align: left;

				&::after {
					background-size: 268px auto;
					width: 268px;
                    height: 547px;
					margin-left: unset;
					
                padding-top: 6px;
				background-image: url("../img/iphone_screen_tablet@1x.png");
				clip: rect(auto, auto, 481px, auto);
    			left: 21px;
                top: -63px;
                padding-bottom: 0;
                padding-left: 293px;
                text-align: left;
			       @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
                     background-image: url("../img/iphone_screen_tablet@2x.png");
                   }
				}

				&::before {
					top: -69px;
				}
				&-item {
					padding-top: 5px;
				}
			}

			&__text {
				font-size: 40px;
				line-height: 48px;
                font-weight: 300;
                margin: 0;

                &:first-child {
                	// margin-bottom:10px;
                }

                &:last-child {
                	max-width: 400px;
                	.center-block()
                }
			}
		}

		&__title {
			margin-bottom: 3px;
		}


	}


	@media (min-width: @desktop-width) {

		.offer {

			&__container {
				padding-top: 54px;
				margin-bottom: 200px;


			}

			&__text {
				font-size: 50px;
				font-weight: 300;

				&:last-child {
					max-width: 415px;
					margin-top: 11px;
				}
			}

			&__list {
				display: flex;
				padding-left: 0;
				width: 100%;
                padding-left: 132px;
                

				&::before {
					display: none;
				}

				&-container {
					display: flex;
		            padding-left: 0;
					position: relative;
					padding-top: 56px;
					
				
					&::before {
						position: absolute;
						content: "";
						top: -104px;
						left: -1px;
						height: 100%;
						width: 100%;
						z-index: -1;
		                // background-image: linear-gradient(-5deg, #f2f2f2 50%, #ffffff 50%);
		                background: #f2f2f2 url(../img/bg-triangle-white.svg) center top no-repeat;
		                background-size: 100%;
		            }
		        }
		        

		        &::after {
		        	display: none;
		        }

		        &-item {
		        	margin: 0;
		        	max-width: 307px;
                    text-align: center;
		        }
			}

			&__title {
				font-size: 30px;
                line-height: 30px;
			}
		}
		



	}