.price {
	&__table {
		display: table;
		border: 1px solid #e5e5e5;
		width: 928px;
		border-collapse: collapse;

		td, th {
			border:2px solid #e5e5e5;
		}
	}
}

.row {
	display: table-row;
	
}

.cell {
	display: table-cell;
	border: 1px solid #e5e5e5;
}