.price {

	position: relative;
	padding-top: 45px;
	padding-bottom: 45px;

	&__inner {
		height: 15px;

		@media (min-width: @tablet-width) {
			display: none;
		}

		@media (min-width: @desktop-width) {
			display: none;
		}

		 




	}

	&__pagination {
		width: 12px;
	height: 12px;
	border: 3px solid #283645;
    border-radius: 50%;
    //     width: 6px;
    // height: 6px;
    // background-color: rgba(40, 54, 69, 0.3);
    // border-radius: 6px;
    // opacity: 0.3;
    margin: 0 auto;
    position: relative;

    &:before {
        content:"";
        position: absolute;
        width: 6px;
    height: 6px;
	background-color: rgba(40, 54, 69, 0.3);
    border-radius: 6px;
    
    right: 25px;
    // top: -3px;
    }

    &:after {
        content:"";
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: rgba(40, 54, 69, 0.3);
        border-radius: 6px;
        
        left: 25px;
    }

      

    }

	background-color: #f2f2f2;

	@media (min-width: @mobile-width) {
			//  overflow: hidden;
			 margin-top: 136px;
			 padding-top: 0;

			 &__mobile {
				 text-transform: uppercase;
				 margin-left: 20px;
			 }
			 
			 
		}
	@media (min-width: @tablet-width) {
		&__mobile {
			display: none;
		}

			
		}


	&__table {

		&:before {
	position: absolute;
    content: "";
    top: -116px;
    left: 0;
    height: 116px;
    width: 100%;
    background: #f2f2f2 url(../img/bg-triangle-white.svg) center top no-repeat;
    background-size: 100%;
	}


		display:table;
		border-collapse: collapse;
		@media (min-width: @mobile-width) {
			width: 337%;
			transform: translateX(-47.6%);
		}

		@media (min-width: @tablet-width) {
			width:616px;
			transform: none;
		}

		@media (min-width: @desktop-width) {
			width:938px;
			transform: none;

		}

		
		

		margin: 0 auto;
		margin-bottom: 38px;

		header {
			display: table-header-group;

			li {
				height: 94px;
				background-color: #283645;
				text-align: center;

				&:first-child {
					background-color: unset;
					border: none;
				}

			}
		}

		ul {
			display:table-row;
		}

		li {
			display: table-cell;
			height: 62px;
			width: 233px;
			border: 2px solid #e5e5e5;
			vertical-align: middle;
			// text-align: center;
			background-repeat: no-repeat;
			

			@media (min-width: @mobile-width) {
				background-position: 223px center;
			}

			@media (min-width: @tablet-width) {
				background-position: center;
			}

			

		}

		ul li:first-child {
			color: #283645;
			font-size: 18px;
			font-weight: 400;
			line-height: 30px;
			padding-left: 19px;
			vertical-align: middle;
			font-family: "Open Sans";


		}

		

	}

	&__yes {
		background-image: url("../img/yes.png");
	}
	&__no {
		background-image: url("../img/no.png");
	}
	&__header {
		color: #ffffff;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
		margin: 0;
	}

	&__usd {
		color: #ffffff;
		font-size: 24px;
		font-weight: 300;
		line-height: 30px;
		text-transform: uppercase;
		margin: 0;
	}

	&--hit {
		position: relative;
		&::before {
			position: absolute;
			content: "";
			background-image: url("../img/hit.png");
			height: 73px;
			width: 74px;
			left: 0;
			top: -18px;
		}
	}

	
}

